* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#add-btn {
    padding: 10px 20px;
    background-color: hwb(193 3% 2%);
    color: #f90707;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#add-btn:hover {
    background-color: hsl(44, 94%, 55%);
}

.filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px;
    background-color: hsl(254, 92%, 65%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.filter-btn.active {
    background-color: #f82aba;
}

ul#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo-item.completed span {
    text-decoration: line-through;
    color: hsl(0, 65%, 65%);
}

.todo-item button {
    background-color: #3bfc15;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.todo-item button.edit-btn {
    background-color: #ffc107;
}

.todo-item button:hover {
    opacity: 0.9;
}

.todo-item .edit-input {
    width: 70%;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}
